<template>
  <section class="bg-black py-10 text-center md:text-left">
    <div class="container mx-auto flex flex-col lg:flex-row">
      <div class="mx-auto lg:mx-0 lg:basis-3/12">
        <FpImage
          src="assets/images/logo-sponsored-by-red-hat.png"
          alt="Sponsored by Red Hat Logo"
          class="mb-4 xl:mb-0"
        />
      </div>

      <div class="container text-center lg:text-left">
        <p class="text-white">
          Fedora is sponsored by Red Hat.
          <span class="block text-fp-gray xl:ml-2 xl:inline">
            Learn more about the relationship between Red Hat and Fedora.
          </span>
        </p>
      </div>
    </div>
  </section>
</template>
